<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>미용예약현황</title>
    <script src="/js/reservation.js"></script>
</head>

<body>
    <header>
        <h1 align="center">미용예약현황</h1>
    </header>
    <nav>
        <table border="1" width="100%" align="center">
            <tr align="center">
                <td><a href="/">일정등록</a></td>
                <td><a href="/reservation">미용예약현황</a></td>
                <td><a href="/vote">투표하기</a></td>
                <td><a href="/">홈으로</a></td>
            </tr>
        </table>
    </nav>
    <section>
        <h2 align="center">미용예약조회</h2>
        <table border="1" align="center" width="800">
            <tr align="center">
                <td>예약번호</td>
                <td>성명</td>
                <td>예약날짜</td>
                <td>예약시간</td>
                <td>미용구분</td>
            </tr>
            <tr align="center">
                <td>20240001</td>
                <td>홍길동</td>
                <td>2024-02-03</td>
                <td>14:00</td>
                <td>커트</td>
            </tr>
            <!-- 예약 현황을 보여주는 테이블 (JSP의 조회 기능에 해당) -->
        </table>
    </section>
</body>

</html>