<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <style>
        header {
            background-color: lightblue;
            padding-bottom: 5px;
        }

        nav {
            background-color: gray;
            padding: 10px;
            color: white;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
        }
    </style>
</head>

<body>
    <header>
        <h1 align="center">쇼핑몰 회원관리 ver1.0</h1>
        <nav>
            &emsp;&emsp;
            <a href="/20251223/join">회원등록</a>
            <a href="/20251223/list">회원목록조회/수정</a>
            <a href="/20251223/sales">회원매출조회</a>
            <a href="/20251223/">홈으로.</a>
        </nav>
    </header>